body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcbody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 260px;
    height: 330px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

#displaybox {
    height: 90px;
    width: 250px;
    border: solid;
    border-width: 1px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

#currentdisplay {
    font-size: 20px;
    font-weight: bold;    
}

#result {
    font-size: 30px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5px;
}

.buttons button {
    height: 50px;
    width: 60px;
    font-size: 18px;
    font-weight: bold;
}